<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <!--<link rel="stylesheet" href="css/styles.css">  CSS link -->

</head>
    <div class='main-container'>
        <div class='story-main'>Each story board and its image</div>
        <div class="button-bar">
            <a href="#" class="button one">One</a>
            <a href="#" class="button two">Two</a>
            <a href="#" class="button three">Three</a>
        </div>
    </div>

<body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <!--<script src="js/scripts.js"></script>  add JS link -->
</body>
</html>