<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
  </head>

  <body>
    <div class='main-container'>
        <div class='story-main'>
          {% for storyline in storyboard %}
            <!-- <img src='{{storyline.dj_setup}}'/> -->
            <!-- <img src='{{storyline.background_image}}'/> -->
            {{storyline.id}}
          {% endfor %}
        </div>
        <div class="button-bar">
            <a href="#" class="button prev">Previous</a>
            <a href="#" class="button prac">Practice</a>
            <a href="#" class="button next">Next</a>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="{% static 'js/base.js' %}"></script>
  </body>
</html>
