body{
  font-family: sans-serif;
  background-color: #ccc;
  font-size: 20px;
  font-weight: 100;
}

a{
  text-decoration: none;
}

.main-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story-main{
  margin-top: 2em;
  /*background-color: #fff;*/
  border: .1em solid black;
  width: 50%;
  height: 500px;
  background-image: url('');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  margin: 1em;
}

.text-block{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  border: .2em solid #fff;
  padding: 1em;
  opacity: .7;
  background-color: #000;
  color: red;
  width: 60%;
  height: 50%;
  margin-top: .5em;
}

.equipment{
  width: 50%;
  height: 50%;
  display: none;
}

.button{
  padding: .5em;
}

.practice{
  display: none;
}

.spanrestart{
  display: show;
}

.spannext{
  display: show;
}

.setup{
  padding: 1em;
  display: flex;
  position: absolute;
  flex-flow: column;
  justify-content: flex-start;
}

div#dialog-confirm{
  display: none;
}
